Django==5.1.7

django-allauth==65.4.1
django-crispy-forms==2.3
django-markdownify==0.9.5
django-colorfield==0.12.0
django-extensions

django-ninja
python-decouple
whitenoise
gunicorn==23.0.0

pillow==11.1.0
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.2

psycopg2-binary==2.9.10
bleach==6.2.0
Markdown==3.7
tinycss2==1.4.0

python-dotenv>=1.0.0,<2.0.0

